@page "{id?}/{handler?}"
@model MyWebApp.InvoiceListModel
@{
    ViewData["Title"] = "Invoice list";
}

<h1>Invoice No. @Model.CurrentInvoice.InvoiceNumber</h1>

<hr />
<h3>Invoice Items</h3>
<p>Select the invoice items</p>

<form asp-page="InvoiceList" method="post">
    <button asp-page-handler="Delete" asp-route-id="2342"
            class="btn btn-danger">Delete</button>
</form>
<hr />

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-danger">
        <h3>@Model.Message</h3>
    </div>
}
    <form asp-page="InvoiceList" method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:5%">Id</th>
                    <th style="width:5%">Quantity</th>
                    <th style="width:90%">Item name</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.AvailableItems.Count; i++)
                {
                    string inputName = $"SelectedItems[{i}].ItemId";
                    <tr>
                        <td>
                            @Model.AvailableItems[i].ItemId
                        </td>
                        <td>
                            <input type="hidden" id="@inputName" name="@inputName"
                                   value="@Model.AvailableItems[i].ItemId" class="form-control" />
                            <input type="text" asp-for="SelectedItems[i].Quantity" class="form-control" />
                        </td>
                        <td>@Model.AvailableItems[i].ItemName</td>
                    </tr>
                }
            </tbody>

        </table>

        <button type="submit" class="btn btn-primary">Submit invoice</button>

        <hr />

        <input type="hidden" name="id" value="@Model.CurrentInvoice.InvoiceNumber" />

        @if (Model.SelectedItems?.Count > 0)
        {
            <h3>This is what you selected for invoice #@Model.Id</h3>
            <ul>
                @foreach (var item in Model.SelectedItems)
                {
                    <li>For ItemId: @item.ItemId you selected @item.Quantity</li>
                }
            </ul>
        }
    </form>
